.new{
    display: flex;
    widows: 100%;
}

.newcontainer{
    flex: 6;
}

.toop , .boottom{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47); 
    box-shadow: 2px 4px 10px 1px  rgba(0, 0, 0, 0.47);
    padding: 10px;
    margin: 20px;
    display: flex;
}

h1{
    color: lightgray;
    font-size: 20px;
}

.LeftSide{
    flex: 1;
    text-align: center;

}

 .LeftSide img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.RightSide{
    flex: 2;
}


form{
    display: flex;
   flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}

.forminput{
  width: 40%;
}

input{
    
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid gray;
}

label{
    display: flex;
    align-items: center;
    gap: 10px;
}

.fileimg{
    cursor: pointer;
}

button{
    width: 150px;
    padding: 10px;
    border: none;
    background-color: teal;
    border-radius: 10px;
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}